# Maven
spring-app/target/

# IntelliJ
.idea/

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db


# Prometheus TSDB (если когда-нибудь смонтируешь локальную папку)
prometheus/data/

# Env files
.env
